<div class="card">
	<div class="card-header">
		<h3 class="card-title">
			Post Management
		</h3>
	</div>
	<div class="card-body">
		<button type="button" class="btn btn-info" [routerLink]="['/admin/posts/post-add']">Add Post</button>
		<table class="table" style="margin-top: 10px;">
		  	<thead>
			    <tr>
		      		<th scope="col"># 			</th>
			      	<th scope="col">Title		</th>
			      	<th scope="col">Content		</th>
			      	<th scope="col">Date_Post	</th>
			      	<th scope="col">Action		</th>
			    </tr>
		  	</thead>
		  	<tbody>
			    <!-- <tr *ngFor="let item of courses;let i = index"> -->
			    <tr>
			      	<!-- <th>{{ i + 1 			}}</th>
			      	<td>{{ item.title 		}}</td>
			      	<td>{{ item.content     }}</td>
			      	<td>{{ item.date_post 	}}</td> -->
			      	<th>1</th>
			      	<td>Angular Trainer</td>
			      	<td>
			      		<span>Senior about Angular</span><br>
			      		<span>Have experiences working with Angular Framework, HTML/CSS/JavaScript </span><br>
			      		<span>Good speak and writing English in office</span><br>
			      		<span>Good attitude and responsibilities in work</span>
			      	</td>
			      	<td>2018-05-29</td>
			      	<td>
			      		<button type="button" class="btn btn-danger" [routerLink]="['/admin/posts','edit',1]">Edit</button>
			      		<button type="button" class="btn btn-success" (click)="onDeletePost(item.id)">Delete</button>
			      	</td>
			    </tr>
		  	</tbody>
		</table>
	</div>
</div>